*{margin: 0;padding: 0;overflow-x: hidden;}


.navber{
    height: 100vh;
    width: 8vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    margin-right: 1%;
}
.gg {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nlinks {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
    box-shadow: 0px 0px 4px red;
}
.nlinks:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgb(255, 101, 101);
}
.nlinks img{
    height: 40px;
    width: 40px;
}


.Hero{
    background-color: rgb(255, 57, 57);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 32, 32);
}
.boxx{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-right{
    width: 30%;
    height: 40%;
    padding-right: 5%;
    background-color: rgba(80, 80, 80, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 101, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.heroimage {
    width: 30%;
    height: 80%;
    background-color: rgb(61, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}
.heroimage img{
    height: 97%;
    width: 97%;
    object-fit: cover;
    border-radius: 12px;
}
.heroimage:hover{
    transform: scale(1.005);
    transition: 0.5s;
    box-shadow: -5px -5px 5px black;
}
.heroimage img:hover{
    transform: scale(0.95);
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}

.hero-right h1{
    font-size: 80px;
}
.hero-right h2{
    font-size: 50px;
}
.hero-right h3{
    font-size: 30px;
}



.Mywork {
    width: 100vw;
    background-color: rgb(153, 153, 153); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hed {
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0px 40px 0px;
}
.ework{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.eworkimg{
    height: 80%;
    width: 400px;
    background-color: rgb(61, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* margin: 30px; */
    box-shadow: 8px 8px 5px rgb(73, 73, 73);
}
.eworkpara{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eworkimg img{
    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 12px;
}

.eworkimg:hover{
    height: 60%;
    transform: scale(1.1);
    transition: 1s;
}
.eworkimg img:hover{
    transform: scale(0.9);
    transition: 1s;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.ework:hover{
    color: aliceblue;
    transition: 0.5S;    
}
.ework{
    color: rgba(128, 128, 128, 0);
}
.ework h3{
    color: rgba(255, 76, 76, 0.596);
    margin-top: 8px;
}
.eworkpara h3{
    overflow-y: hidden;
}
.eworkpara p{
    overflow-y: hidden;
}
@media (max-width:600px){
    .eworkimg{
        width: 70vw;
    }   
}
@media (max-width:1000px){
        .navber{
            display: none;
        }
        .navbermb{
            height: 20vh;
            width: 100vw;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 78vh;
        }
        .ggmb {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .nlinksmb {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            border-radius: 35px;
            box-shadow: 0px 0px 4px red;
        }
        .nlinksmb:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 8px rgb(255, 101, 101);
        }
        .nlinksmb img{
            height: 40px;
            width: 40px;
        } 
}
@media (min-width:1000px){
    .navbermb{
        display: none;
    }
}