*{margin: 0;padding: 0;overflow-x: hidden;}


.navber{
    height: 100vh;
    width: 12vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    margin-right: 1%;
}
.gg {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nlinks{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nlink {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
    box-shadow: 0px 0px 4px hsl(33, 100%, 50%);
}
.ntext{
    display: flex;
    text-decoration: none;
    height: 40px;
    width: 60%;
    background-color: black;
    border-radius: 16px;
    color: rgb(255, 101, 101);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    margin-right: 8px;
    opacity: 0;
}
.ntext:hover{
    box-shadow: 0px 0px 4px hsl(33, 100%, 69%);
}
.nlinks:hover .ntext{
    opacity: 1;
    transition: 0.5s;
}
.ntext a{
    text-decoration: none;
    color: hsl(33, 100%, 50%);
}
.nlinks img{
    height: 40px;
    width: 40px;
}
.nlink:hover{
    box-shadow: 0px 0px 8px hsl(33, 100%, 67%);
    transform: scale(1.05);
    transition: 0.1s;
}


.Hero{
    background-color: rgb(255, 57, 57);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 32, 32);
    background-image: url(Images/entr.jpg);
}
.boxx{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-right{
    width: 40%;
    height: 100%;
    padding-right: 0%;
    background-color: rgba(80, 80, 80, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 101, 101);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hero-right h1{
    color: hsl(33, 100%, 67%);
}
.hero-right p{
    color: hsl(32, 42%, 33%);
    font-size: 18px;
    text-shadow: 1px 1px 1px rgb(255, 101, 101);
}
.heroimage {
    width: 30%;
    height: 80%;
    background-color: hsl(32, 42%, 33%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    transition: 0.5s;
}
.heroimage img{
    height: 97%;
    width: 97%;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.5s;
}
.heroimage:hover{
    transform: scale(1.005);
    box-shadow: -5px -5px 5px black;
}
.heroimage img:hover{
    transform: scale(0.95);
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}

.hero-right h1{
    font-size: 80px;
    text-shadow: 0px 0px 2px hsl(33, 100%, 50%);
        transition: 0.5s;
}
.hero-right h2{
    font-size: 50px;
}
.hero-right h3{
    font-size: 30px;
}
.hero-right h1:hover{
    color: hsl(33, 100%, 50%);
}


.Mywork {
    width: 100vw;
    background-color: rgb(72, 23, 23); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hed {
    height: 20vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hed h1{
    color: hsl(32, 42%, 33%);
    font-size: 70px;
    text-align: center;
}
.work{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0px 40px 0px;
}
.ework{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.eworkimg{
    height: 80%;
    width: 400px;
    background-color: hsl(32, 42%, 33%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* margin: 30px; */
    box-shadow: 8px 8px 5px rgb(0, 0, 0);
    transition: 1s;
}
.eworkpara{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eworkimg img{
    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 12px;
    transition: 1s;
}

.eworkimg:hover{
    height: 65%;
    transform: scale(1.005);
        box-shadow: -8px -8px 5px rgba(0, 0, 0, 0.596);
}
.eworkimg img:hover{
    transform: scale(0.95);
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.ework:hover{
    color: aliceblue;
    transition: 0.5S;    
}
.ework{
    color: rgba(128, 128, 128, 0);
}
.ework h3{
    color: rgba(255, 76, 76, 0.596);
    margin-top: 8px;
}
.eworkpara h3{
    overflow-y: hidden;
}
.eworkpara p{
    overflow-y: hidden;
}
@media (max-width:600px){
    .eworkimg{
        width: 65vw;
    }   
}
@media (max-width:1200px){
        .navber{
            display: none;
        }
        .navbermb{
            height: 20vh;
            width: 100vw;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 78vh;
            z-index: 1;
        }
        .ggmb {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .nlinksmb {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            border-radius: 35px;
            box-shadow: 0px 0px 4px red;
        }
        .nlinksmb:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 8px rgb(255, 101, 101);
        }
        .nlinksmb img{
            height: 40px;
            width: 40px;
        } 

        .Hero{
            height: 100vh;
            width: 100vw;
        }
        .boxx{
            height: 90%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: left;

        }
        .hero-right{
            width: 100%;
            height: 60%;
        }
        .heroimage{
            width: 80vw;
            height: 25%;
        }
        .hero-right h1{
            font-size: 70px;
        }

}
@media (min-width:1200px){
    .navbermb{
        display: none;
    }
}



.section3{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(Images/red.jpg);
    background-position: center;
    background-size: cover;
}

.batquotes{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quotes{
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.384);
    text-align: center;
    border-radius: 8px;
    border: 4px solid gray;
    padding: 8px;
    margin: 8px;
    transition: 0.5s ease-in-out;
}

.quotes:hover{
    width: 30%;
}

.heaad p{
    color: hsl(32, 42%, 33%);
    font-size: 70px;
    text-align: center;
}



.report{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 101, 101);
    display: flex;
    justify-content: center;
}
.form{
    height: 50vh;
    width: 70vw;
    border-radius: 32px;
    background-color: hsl(33, 100%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.location input{
    height: 5vh;
    width: 50vw;
    background-color: rgb(255, 101, 101);
    border-radius: 16px;
    display: flex; 
    flex-direction: column;
}
.descrip input{
    height: 30vh;
    background-color: rgb(255, 101, 101);
    border-radius: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
} 
.btt button{
    background-color: rgb(255, 101, 101);
    height: 3vh;
    width: 20vw;
    border-radius: 8px;
    box-shadow: 0px 0px 8px hsl(33, 100%, 67%);
}

.follow{
    height: 100vh;
    width: 16vw;
    display: flex;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.bxxxx{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.leftt{
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 101, 101);
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba(53, 53, 53, 0.212);
}
.ritt{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -5vw;
}
.flnk{
    height: 40px;
    width: 40px;
    background-color: hsl(33, 100%, 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -2px 0px 2px black;
    transition: 0.4s;
}
.flnk:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 4px rgb(255, 0, 0);
}
.flnk span{
    text-decoration: none;
    overflow-y: hidden; 
    color: rgb(255, 101, 101);
}
.leftt p{
    transform: rotate(-90deg);
    color: hsl(33, 100%, 50%);
    text-align: center;
}
.facebook{
    display: none;
}
.mainn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px){
    .follow{
        height: 16vh;
        width: 100vw;
        display: flex;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
    .bxxxx{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .leftt{
        height: 30%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 101, 101);
        border-radius: 12px;
    }
    .ritt{
        margin-top: -6vh;
        height: 50%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 0vw;
    }
    .flnk{
        height: 40px;
        width: 40px;
        background-color: hsl(33, 100%, 67%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: -2px 0px 2px black;
        transition: 0.4s;
    }
    .leftt p{
        text-align: center;
        transform: rotate(0deg);
        color: hsl(33, 100%, 50%);
    }
    .flnk{
    height: 30px;
    width: 30px;
    background-color: hsl(33, 100%, 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -2px 0px 2px black;
    transition: 0.4s;
    }
    .flnk:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 4px rgb(255, 0, 0);
    }
}
@media (max-width:1200px){
    
        .section3{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(Images/red.jpg);
            background-position: center;
            background-size: cover;
        }
        .batquotes{
            height: 65vh;
            width: 95vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .quotes{
            width: 70vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(245, 245, 220, 0.384);
            text-align: center;
            border-radius: 8px;
            border: 4px dashed gray;
            padding: 8px;
            margin: 8px;
            transition: 0.5s ease-in-out;
        }

        .quotes:hover{
            width: 75vw;
            height: 50vh;
        }

        .heaad p{
            color: hsl(32, 42%, 33%);
            text-align: center;
            font-size: 30px;
        }
        .heaad{
            height: 5vh;
        }
}